/* ----------------------------------------------------------------------------- * 
 *                      Atmosphäre: Farben und Schriften                         *
 *          Alle weiteren Styles stecken in der jeweiligen layout.css            *
 * ----------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- * 
 * Verwendete Farben
 * Blue Colors:
 * #1A1F2B - dark blue
 * #30395C - middle dark blue
 * #4A6491 - middle blue
 * #85A5CC - middle light blue
 * #C2D2E5 - light blue
 * ----------------------------------------------------------------------------- */

html    {
    font-size: 100%;
}

body {
    background-color: mintcream;
    color: #1A1F2B; /* dark blue */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5em; /* 24px */
}

.page-wrapper {
   background-color: #85A5CC; /* middle light blue */
}

header {
    background-color: #30395C; /* middle dark blue */
    color: #efefef;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
}

.main {
    background-color: #fff;
    color: #1A1F2B; /* dark blue */
}

.mainContent {
    color: #333;
}

aside {
    color: #1A1F2B; /* dark blue */
    background-color: #C2D2E5; /* light blue */
}

footer {
    background-color: #30395C; /* middle dark blue */
    color: #efefef;
    text-align: right;
    border-bottom: 7px solid yellowgreen;
}

/* ----------------------------------------------------------------------------- * 
 *                             Textauszeichnungen                                *
 * ----------------------------------------------------------------------------- */

h1, h2, h3  {
    font-family: 'Gentium Book Basic', serif; /* Google-Font Gentium Book wenn verfügbar, sonst Fallback */
    font-style: italic;
    font-weight: bold;
}

h1  {
    font-size: 2.250em; /* 36px; */
    line-height: 1.5em; /* 54px */
}

h2  {
    font-size: 1.625em; /* 26px */ 
    line-height: 1.5em;
    color: #4A6491; /* middle blue */
}

h3  {
    color: #4A6491; /* middle blue */
    font-size: 1.375em; /* 22px */
    font-weight: normal;
}

p.teasertext    {
    color: #30395C; /* middle dark blue */
    font-family: "Trebuchet MS",Helvetica,Arial;
    font-size: 1.188em; /* 19px */
    line-height: 1.368em; /* 26px */
}

a:link, a:visited {
    color: #005580;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #005580;
    text-decoration: underline;
}

.highlight{
   color: yellowgreen;
}

/* ----------------------------------------------------------------------------- * 
 *                                    Navigation                                 *
 * ----------------------------------------------------------------------------- */

nav {
    box-shadow: 0 0 20px rgba(112, 23, 124, 0.2) inset;
    color: #efefef;
    font-family: "Trebuchet MS",Helvetica,Arial;
    font-size: 1.25em; /* 20px */
}

nav ul li {
    list-style: none;
}

nav a:link, nav a:hover {
    color: #30395C; /* middle dark blue */
}

nav a:hover {
    background-color: #C2D2E5; /* light blue */
}