			body 				{font-family: "Trebuchet MS", Arial, sans-serif; font-size:11px;
			}
	    #title      {font-size:20pt;position:absolute;top:30px;left:5%;width:644px;z-index:80;}
	    #description{position:absolute;top:69px;left::5%; width:644px; height:80px; overflow: auto; }
			#map 				{
				z-index:20;
				/* 
				position:absolute;top:180px;left:30px;
				width: 644px; height: 420px;*/
				width: 100%; height: 100%;
				border: 1px dotted black; background-color: white;
			}
	    #providedby  {position:absolute;top:90%;left:5%;width:80%; z-index:51;}
	    #status      {position:absolute;top:650px;left::5%;width: 644px; z-index:51;}
	    #sidebar     {z-index:90;border-width:1px;border-style:dotted;background-color:white;padding:5px;
	    							 z-index:51;
	    	position:absolute;top:180px;right:20%; height:420px;width:260px;overflow:auto;}
		 	#message		{position:absolute;top:540px;right:19%;width:10%; z-index:99;}
	    #homelink   {z-index:90;border-width:0px;padding:0px;position:absolute;top:30px;left:704px; z-index:51;}
	    #popUpDiv   {overflow:auto; z-index:51;}


html, body, #map {
			height: 100%;
		}